// app global css in Sass form

$lightGrey: #f5f5f5 

$menuColorAdmin    : #282828
$tabMenuColorAdmin : #3f3f3f
$activeTabMenuColorAdmin : #70C163

$colorBtnAdmin        : #70C163
$colorSecondBtnAdmin  : #70C163
$colorLightBtnAdmin   : rgba(112, 193, 99, 0.2)
$colorIconAdmin       : #70C163
$colorFocusAdmin      : #C6E6C1
$colorLinksAdmin      : #70C163
$colorMessageSenderAdmin : #70C163
$colorMessageReceiverAdmin : #f3f3f3

$menuColorWeb      : #282828

$colorBtnWeb       : #70C163
$colorSecondBtnWeb       : #70C163
$colorThirdBtnWeb : #70C163
$colorIconWeb      : #70C163
$colorSecondIconWeb : #70C163
$colorLikeWeb      : #70C163
$colorMessageSenderWeb : #70C163
$colorMessageReceiverWeb : #f3f3f3

body 
    font-family: 'Montserrat Medium'

@font-face 
    font-family: 'Montserrat Medium'
    src: url(./font/Montserrat-Medium.ttf)

@font-face 
    font-family: 'Montserrat Bold'
    src: url(./font/Montserrat-Bold.ttf)

@font-face 
    font-family: 'Montserrat SemiBold'
    src: url(./font/Montserrat-SemiBold.ttf)

.semiBoldText
    font-family: 'Montserrat SemiBold'

.boldText
    font-family: 'Montserrat Bold'

.text-line 
    line-height: 22px
    font-size: 16px

.footerBtn
    bottom: 52px
    right: 0px
    left: 0px
    height:50px

.selected 
  background-color: $colorLightBtnAdmin !important

.selectPopupClass .q-item--active
    color: $colorBtnAdmin

.selectPopupClass .q-manual-focusable--focused
    background: $colorLightBtnAdmin

.bg-colorBtnAdmin 
    background: $colorBtnAdmin

.bg-colorSecondBtnAdmin 
    background: $colorSecondBtnAdmin

.q-message-text--sent
    background: $colorMessageSenderAdmin
    color: $colorMessageSenderAdmin

.q-message-text--received
    background: $colorMessageReceiverAdmin
    color: $colorMessageReceiverAdmin

.text-colorMessageSenderAdmin
    background: $colorMessageSenderAdmin

.text-colorMessageReceiverAdmin
    background: $colorMessageReceiverAdmin

.adminLink
    color: $colorLinksAdmin

.text-colorIconAdmin
    color: $colorIconAdmin

.bg-colorBtnWeb 
    background: $colorBtnWeb

.bg-colorSecondBtnWeb
    background: $colorSecondBtnWeb

.bg-colorThirdBtnWeb
    background: $colorThirdBtnWeb

.text-colorIconWeb 
    color: $colorIconWeb

.text-colorSecondIconWeb 
    color: $colorSecondIconWeb

.text-colorLikeWeb
    color: $colorLikeWeb

.q-btn--rectangle 
    border-radius: 4px

.q-table__title
    font-size: 24px

.semiBoldText
    font-family: 'Montserrat SemiBold'

.boldText
    font-family: 'Montserrat Bold'

.q-btn__wrapper:before
    box-shadow: none

.q-field__control
    color: black

.exitIconProfileSet 
    position: absolute
    right: 15px
    top: 15px
    z-index: 666

.q-focus-helper
    background: $colorFocusAdmin !important

.actionBtnSize 
  max-height: 44px

@media(min-width: 1030px)
    .max-desktop 
        max-width: 50%
        margin: auto
    
    .full-width-max-desktop 
        width: 50% !important
        margin: auto !important
    
  
.activeCardReport 
  background: $colorBtnAdmin

.bg-card-grey 
  background-color: $lightGrey

.subBtn :hover 
  background-color: $colorBtnAdmin

.tabsMainLayout 
  background-color: $tabMenuColorAdmin
  width: 139px
  height: 139px

.tabsMainLayoutActive 
  background-color: $primary

.router-menuAdmin 
  top: 0px !important
  width: 100%
  left: 0px !important
  max-width: 100% !important
  background-color: $menuColorAdmin
  color: white
  border-radius: 0px

.menuColorAdmin 
  background-color: $menuColorAdmin

.tabsSecondLayoutActive 
  background-color: $activeTabMenuColorAdmin

.tabsSecondLayoutAdmin 
  background-color: $tabMenuColorAdmin
  width: 139px
  height: 139px

.q-toolbar 
  background: $menuColorWeb !important

.colorBanner
  background: $colorBtnWeb

#UpdateCardTabs .q-tab--inactive 
    background: lightgrey

.instructionText 
  color: grey
  font-size: 18px
  min-width: 300px
  text-align: center

.active-report-card 
    background-color: $colorBtnAdmin

