// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary           : #70C163
$secondary         : #26A69A
$accent            : #C6E6C1

$dark              : #1D1D1D

$positive          : #21BA45
$negative          : #C10015
$info              : #E8E8E8
$warning           : #F2C037

$lightGrey         : #f3f3f3

$menuColorAdmin    : #282828
$tabMenuColorAdmin : #3f3f3f
$activeTabMenuColorAdmin : #70C163

$colorBtnAdmin        : #70C163
$colorSecondBtnAdmin  : #70C163
$colorLightBtnAdmin   : rgba(112, 193, 99, 0.2)
$colorIconAdmin       : #70C163
$colorFocusAdmin      : #C6E6C1
$colorLinksAdmin      : #70C163
$colorMessageSenderAdmin : #70C163
$colorMessageReceiverAdmin : #f3f3f3

$menuColorWeb      : #282828

$colorBtnWeb       : #70C163
$colorSecondBtnWeb       : #70C163
$colorThirdBtnWeb : #70C163
$colorIconWeb      : #70C163
$colorSecondIconWeb : #70C163
$colorLikeWeb      : #70C163
$colorMessageSenderWeb : #70C163
$colorMessageReceiverWeb : #f3f3f3